// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// @media screen and (min-width: 768px) {
//   .side.list {
//     position: fixed;
//     top: 0;
//     bottom: 0;
//     left: 0;
//     display: block;
//     overflow-x: hidden;
//     overflow-y: auto;
//   }
// }
@media (max-width: 767px) {
  .side {
    display: none;
  }
  .list-in-header {
    list-style: none;
    float: right;
  }
  .list-in-header li a {
    color: white;
  }
}

@media (min-width: 768px) {
  .side-in-header {
    display: none;
  }
}


.container-feed-index {
  height: 100%;
}

.card {
  margin: 30px auto;
  width: 350px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
}



.container {
  padding: 1%;
}

.content-feed {
  display: flex;
}

.main {
  margin: 0 auto;
}

.side {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 100px;
  bottom: 56px;
  width: 140px;
  color: black;
}

.list li {
  list-style: none;
  padding-top: 30px;
  text-align: center
}

.list {
  padding-left: 0px;
}

.main-content {
  display: inline-block;
}

.card-user {
  padding-left: 30px;
  font-size: 20px;
  text-align: left;
  float: left;
}

.card-user span {
  float: right;
}

.card-text {
  padding: 30px 0px;
  margin-top: 10px;
  background-color: whitesmoke;
}

.card-img-bottom {
  width: 100%;
}

.field-image input{
  margin: auto;
}

.field {
  margin-top: 30px;
}

.actions {
  margin: 30px 0px;
}