<% if logged_in? %>
  <div class="side">
    <ul class="list">
      <li><%= link_to "マイページ", user_path(current_user.id) %></li>
      <li><%= link_to "投稿する", new_feed_path %></li>
      <li><%= link_to "タイムライン", feeds_path %></li>
      <li><%= link_to "ログアウト", session_path(current_user.id), method: :delete %></li>
    </ul>
  </div>
<% end %>
